body {
    font-family: 'Aboreto', cursive;
    color: grey;
}

h1 {
    font-size: 200%;
}

/* Header Section */

header {
    background-color: #E9DAC1;
    padding: 25px 50px;
}

.header-name {
    background-color: grey;
    padding: 15px 10px 15px 50px;
    position: relative;
    right: 50px;
    color: #E9DAC1;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ul-nav {
    display: flex;
    flex-direction: row;
    justify-content: end;
    list-style-type: none;
    text-decoration: underline;
}

.ul-nav li {
    padding-right: 10px;
} 

a {
    color: grey;
    text-decoration: none;
}

a:hover {
    text-decoration: none; 
}

/* Work Section */

main {
    display: flex;
    flex-flow: column wrap;
    margin-top: 50px;
    padding-bottom: 50px;
}

.main-img {
    height: 282px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url(./assets/images/_DSC2922.JPEG);
    background-size: 125%;
    background-position: center 45%;
}

.port-h2 {
    position: absolute;
    background-color: #E9DAC1;
    padding: 15px;
    padding-left: 15px;
    left: 1700px;
    top: 300px;
    font-size: 125%;
    color: grey;
    
}

#about-me h2{
    display: flex;
    flex-direction: column;
    font-size: 200%;
    text-align: right;
    float: left;
    margin-left: 100px;
    color: grey;
    border-right: 5px solid grey;
    padding-bottom: 200px;
    padding-right: 20px;
}

.about-me-p {
    display: flex;
    flex-wrap: wrap;
    padding-left: 50px;
    line-height: 1.4;
    width: 80%;
}

#work {
    max-height: 1050px; 
    position: relative; 
}

.work-h2{
    font-size: 200%;
    float: left;
    color: grey;
    border-right: 5px solid grey;
    padding-bottom: 850px;
    padding-right: 20px;
    padding-left: 112px;
    margin-top: 100px;
}

.code-refactor-heading {
    position: absolute;
    background-color: grey;
    padding: 15px;
    font-size: 125%;
    color: #E9DAC1;
    z-index: 1;
    left: 290px;
    bottom: 522px;
}

.magic8-heading {
    position: absolute;
    background-color: grey;
    padding: 15px;
    font-size: 125%;
    color: #E9DAC1;
    z-index: 1;
    bottom: 268px;
    left: 290px;
}

.calendar-heading {
    position: absolute;
    background-color: grey;
    padding: 15px;
    font-size: 125%;
    color: #E9DAC1;
    z-index: 1;
    bottom: 268px;
    left: 765px;
}

.weather-heading {
    position: absolute;
    background-color: grey;
    padding: 15px;
    font-size: 125%;
    color: #E9DAC1;
    z-index: 1;
    left: 290px;
    top: 880px;
}

.youtube-heading {
    position: absolute;
    background-color: grey;
    padding: 15px;
    font-size: 125%;
    color: #E9DAC1;
    z-index: 1;
    left: 765px;
    top: 880px;
}

.span-heading {
    display: flex;
    flex-wrap: wrap;
    font-size: 60%;
}

.port-1 {
    position: absolute;
    left: 290px;
    top: 100px;
    max-width: 900px;
    max-height: 400px;
    border: 5px solid grey;
}

.port-images {
    filter: saturate(0.2);
}

.port-images:hover {
    filter: saturate(1);
}

.port-2 {
    position: absolute;
    left: 290px;
    top: 550px;
    max-width: 425px;
    max-height: 200px;
    border: 5px solid grey;
}

.port-3 {
    position: absolute;
    left: 765px;
    top: 550px;
    max-width: 425px;
    max-height: 200px;
    border: 5px solid grey;
}

.port-4 {
    position: absolute;
    left: 290px;
    bottom: 0px;
    max-width: 425px;
    max-height: 200px;
    border: 5px solid grey;
}

.port-5 {
    position: absolute;
    left: 765px;
    bottom: 0px;
    max-width: 425px;
    max-height: 200px;
    border: 5px solid grey;
}

/* Contact Me Section */

#contact-me h2{
    display: flex;
    flex-direction: column;
    font-size: 200%;
    text-align: right;
    float: left;
    margin-left: 53px;
    color: grey;
    border-right: 5px solid grey;
    padding-bottom: 25px;
    padding-right: 20px;
}


footer {
    padding-top: 50px;
    padding-bottom: 100px;
    background-color: #E9DAC1;
}

.footer-nav {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    text-decoration: underline;
    
}

.footer-nav li {
    padding-right: 50px;
    position: relative;
    left: 150px;
    top: 25px;
}

@media (max-width: 1454px){
    #about-me {
        display:flex;
        flex-wrap: row wrap;
    }

}